@{
    ViewBag.Title = "Contact";
}
    <center>
        <h2>@ViewBag.Title</h2>

        <address>
            Odelia Dahan<br />
            Jerusalem 9387171
        </address>

        <address>
            <strong>Email Address:</strong>   <a href="mailto:odeliachriqui@gmail.com">odeliachriqui@gmail.com</a><br />
            <strong>Phone Number:</strong> <a href="tel:0527116842">0527116842</a>
        </address>
    </center>
<br />
